@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap';

.page {
  font-family: Montserrat, Helvetica, sans-serif;
  scroll-behavior: smooth;
  &__body {
    margin: 0;
    background: #fff;
    min-width: 320px;
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;

    transform: translateY(-100%);
    transition: all $effect-duration;
    &:target {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &:has(.page__menu:target) {
    overflow: hidden; /* not to scroll the page */
  }
}
