.lection {
  padding-bottom: 0;
  &__photo {
    background-image: url(../images/background/sky.png);
    background-size: cover;
    height: 210px;

    @include on-tablet {
      height: 390px;
    }

    @include on-desktop {
      height: 550px;
    }
  }
  &__details {
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0 2px 0 0 #1a5a4c40;
    box-sizing: border-box;
    max-width: 570px;
    padding-block: 20px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include on-tablet {
      padding-block: 45px;
      padding-inline: 55px;
      row-gap: 24px;
    }

    @include on-desktop{
      row-gap: 16px;
    }
  }
  &__data {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    
    @include on-tablet {
      justify-content: start;
      column-gap: 160px;
      padding-inline: 0;
    }
  }

  &__label {
    @extend %fm-imb-fw-500-fz-14-lh-100;

    text-align: center;

    @include on-tablet {
      text-align: start;
    }
  }
  &__date {
    @extend %fm-imb-fw-700-fz-14-lh-100;

    color: $prime-color;
    font-size: 16px;
    text-align: center;

    @include on-tablet {
      text-align: start;

    }
  }
  &__title {
    @extend %h3;

    text-align: center;

    @include on-tablet {
      text-align: start;
    }

  }
}
