.main{
  padding-top: 70px;
  display: grid;
  // display: flex;
  // flex-direction: column;
  row-gap: 100px;

  @include on-tablet{
     padding-top: 88;
  }

    @include on-desktop{
     padding-top: 200;
     row-gap: 200px;
  }
}
