.menu {
  overflow: auto;
  background-color: $prime-color;
  padding-block: 28px;

  @include on-tablet {
    padding-block: 40px;
  }

  &__container {
    box-sizing: border-box;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__center-side {
    background-color: #ffffff80;
    height: 1px;

    @include on-tablet {
      width: 1px;
      height: 145px;
    }
  }
  &__left-side {
    display: flex;
    justify-content: space-between;

    @include on-tablet {
      column-gap: 38px;
    }

    @include on-desktop {
      column-gap: 102px;
    }
  }
  &__right-side {
    color: #fff;

    @include on-tablet {
      flex-direction: column;
    }
  }
}
