.schedule {
  @extend %schedule-text;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  &__top {
    line-height: 140%;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include on-tablet{
      flex-direction: row;
      column-gap: 24px;
    }

    @include on-desktop{
      column-gap: 30px;
    }
  }
  &__work-days {
    width: 100%;

    @include on-tablet{
      width: 170px;
    }
  }
  &__days-off{
    width: 100%;

    @include on-tablet{
      width: 144px;
    }
  }
}
