.swiper {
  overflow: hidden;

  @include on-desktop {
    display: none;
  }

  &-slide {
    height: 510px;
    display: block;
    object-fit: cover;

    @include on-tablet {
      height: 543px;
    }
  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
