%h1 {
  font: inherit;
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0;
  color: $main-text-color;

  @include on-tablet {
    font-size: 54px;
    line-height: 120%;
  }

  @include on-desktop {
    font-size: 72px;
  }
}

%h2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  color: $main-text-color;

  @include on-tablet {
    font-size: 48px;
  }
}
%h3 {
  font-family: inherit;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0;
  color: $main-text-color;

  @include on-tablet {
    font-size: 36px;
  }
}
%fm-imb-fw-500-fz-16-lh-100 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: $main-text-color;
}

%fm-imb-fw-700-fz-14-lh-100 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: $adition-text-color;
}

%fm-imb-fw-500-fz-14-lh-100 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: $adition-text-color;
}

%fm-imb-fw-300-fz-16-lh-150 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: $third-text-color;
}

%nav-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
  color: #fff;

  @include on-desktop {
    font-size: 22px;
  }
}

%schedule-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
}
