$phone-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$main-text-color: #000;
$prime-color: #1a5a4c;
$second-text-color: #0f0e08;
$third-text-color: #4e4e4e;
$adition-text-color: #687480;
$effect-duration: 0.3s;
