$phone-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$main-text-color:#000;
$prime-color:#1A5A4C;
$second-text-color:#0F0E08;
$third-text-color:#4E4E4E;
$adition-text-color:#687480;
$effectDuration: 0.3s;
